.update_form_main_box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.update_movie_form_box {
  height: 300px;
  width: 300px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_title_input,
.movie_release_year_input {
  width: 240px;
  height: 40px;
  padding: 5px;
  letter-spacing: 1px;
  margin: 10px auto;
}

.radio_btn_box {
  width: 240px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.answer_box {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.answer {
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.yes_radio_btn,
.no_radio_btn {
  margin-right: 4px;
  cursor: pointer;
}

.update_movie_btn {
  height: 30px;
  width: 240px;
  margin: 20px 0;
  font-size: 1rem;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}
