.card_box {
  border: 1px solid;
  border-radius: 10px;
  margin: 20px auto;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_info_box {
  background: #fcfcfc;
  padding: 10px;
  height: 160px;
  width: 280px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
