* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.movie_form_main_box {
  max-height: 360px;
  width: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle_movie_form_btn {
  cursor: pointer;
  height: 50px;
  width: 240px;
  margin: 20px 0;
  font-size: 1rem;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chevron_down,
.chevron_up {
  height: 20px;
  width: 20px;
}
.movie_form_box {
  height: 260px;
  width: 300px;
  margin: 10px auto;
  background: #cfcfcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_title_input,
.movie_release_year_input {
  width: 240px;
  height: 40px;
  padding: 5px;
  letter-spacing: 1px;
  margin: 10px auto;
}

.radio_btn_box {
  width: 240px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.answer_box {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.answer {
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.yes_answer_radio_btn,
.no_answer_radio_btn {
  margin-right: 4px;
  cursor: pointer;
}

.add_movie_btn {
  height: 30px;
  width: 240px;
  margin: 20px 0;
  font-size: 1rem;
  border: 1px solid #fff;
  cursor: pointer;
}
