* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar_main_box {
  height: 80px;
  width: 100%;
  background: #d8d9da;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_box {
  height: 50px;
  width: 100px;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.logo {
  text-decoration: none;
  color: #151515;
}

.btn_box {
  height: 40px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.my_movies_btn {
  height: 30px;
  width: 100px;
  font-size: 1.1rem;
  background: #f3f3f3;
  color: #151515;
  border: 1px solid #fff;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout_btn {
  height: 30px;
  width: 100px;
  background: #f3f3f3;
  font-size: 1rem;
  border: 1px solid #fff;
  cursor: pointer;
}
