.main_auth_box {
  background: #f3f3f3;
  min-height: 100vh;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.auth_box {
  background: #fff;
  height: 260px;
  width: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sign_input {
  width: 240px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px #3c3c3c solid;
}

.sign_in_btn {
  width: 240px;
  height: 40px;
  padding: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px #3c3c3c solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign_in_btn:hover {
  transition: 0.3s;
  background: #fff;
}

.sign_in_btn:not(:hover) {
  transition: 0.3s;
}
